* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* Generelt */
main {
  margin: 3rem;
}

/* menu */
body {
  font-family: Arial, sans-serif;
}

nav {
  background-color: #333; /* Mørk baggrund til menuen */
  padding: 10px 0;
}

.menu {
  list-style: none; /* Fjern punkttegn */
  display: flex; /* Laver en vandret menu */
  justify-content: center; /* Centrerer menuen */
}

.menu li {
  margin: 0 15px; /* Afstand mellem menupunkter */
}

.menu a {
  text-decoration: none; /* Fjern understregning */
  color: white; /* Hvid tekst */
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease; /* Glidende overgang ved hover */
}

.menu a:hover {
  color: #ffcc00; /* Gul farve ved hover */
}

/* Forside */
h1 {
  margin-bottom: 1rem;
}

.category_list_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.category a {
  background-color: grey;
  padding: 40px;
  border-radius: 5px;
  display: flex; /* Brug flexbox til centrering */
  align-items: center; /* Centrér vertikalt */
  text-decoration: none;
  color: white;
  font-weight: normal;
}

.category a:hover {
  background-color: #555; /* Ændrer baggrundsfarven ved hover */
  transform: scale(1.02); /* Lidt zoom-effekt ved hover */
  border-radius: 5px;
}

.category:hover a {
  color: #ffcc00; /* Ændrer tekstfarve ved hover */
}

/* Produktliste */

.product_list_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.read_more {
  color: grey;
  text-decoration: underline;
}

.box1 {
  display: grid;
  grid-template-columns: subgrid;
}
