* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* Generelt */
main {
  margin: 3rem;
}

/* menu */
body {
  font-family: Arial, sans-serif;
}

nav {
  background-color: #333; /* Mørk baggrund til menuen */
  padding: 10px 0;
}

.menu {
  list-style: none; /* Fjern punkttegn */
  display: flex; /* Laver en vandret menu */
  justify-content: center; /* Centrerer menuen */
}

.menu li {
  margin: 0 15px; /* Afstand mellem menupunkter */
}

.menu a {
  text-decoration: none; /* Fjern understregning */
  color: white; /* Hvid tekst */
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease; /* Glidende overgang ved hover */
}

.menu a:hover {
  color: #ffcc00; /* Gul farve ved hover */
}

/* Forside */
h1 {
  margin-bottom: 1rem;
}

.category_list_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.category a {
  background-color: grey;
  padding: 40px;
  border-radius: 5px;
  display: flex; /* Brug flexbox til centrering */
  align-items: center; /* Centrér vertikalt */
  text-decoration: none;
  color: white;
  font-weight: normal;
}

.category a:hover {
  background-color: #555; /* Ændrer baggrundsfarven ved hover */
  transform: scale(1.02); /* Lidt zoom-effekt ved hover */
  border-radius: 5px;
}

.category:hover a {
  color: #ffcc00; /* Ændrer tekstfarve ved hover */
}

/* Produktliste */

.read_more {
  color: grey;
  text-decoration: underline;
}

.card {
  padding: 5px;
  grid-row: span 5;
  display: grid;
  grid-template-rows: subgrid;
  position: relative;
  margin-bottom: 10px;
}

.discount {
  position: absolute;
  bottom: 0%;
  right: 0%;
  background-color: lightgreen;
  padding: 10px;
}

.soldout {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: grey;
  padding: 10px;
  color: white;
}

.soldout-img {
  filter: grayscale(100%);
}

@media (min-width: 600px) {
  .product_list_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
  }
  .discount {
    bottom: 0;
    right: 0;
    padding: 5px;
  }
  .soldout {
    top: 0%;
    left: 0%;
    padding: 5px;
  }
}
@media (min-width: 1000px) {
  .product_list_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 5;
    gap: 20px;
  }
  .discount {
    position: absolute;
    bottom: 5%;
    right: 20%;
    background-color: lightgreen;
    padding: 20px;
  }

  .soldout {
    position: absolute;
    top: 30%;
    left: 30%;
    background-color: grey;
    padding: 20px;
    color: white;
  }
}
